@{
	Layout = "_Layout";
}
@model MusicDatabase.Models.Artist

<h2 id="title">Artist: <b>@Html.DisplayFor(model => model.Name)</b></h2>

<hr />

@if (Model.Songs.Count == 0)
{
	<p>No songs have been added to this artist yet.</p>
}
else
{
	<h4><u>Songs</u></h4>
	<ul>
		@foreach (var join in Model.Songs)
		{
		 <li>@join.Song.Name</li>
		}
	</ul>
}

<hr />

<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ArtistId })
 |
	@Html.ActionLink("Delete", "Delete", new { id = Model.ArtistId })
 |
	@Html.ActionLink("View all artists", "index")
 |
	@Html.ActionLink("Go to homepage", "Index", "Home")
</p>