@{
	Layout = "_Layout";
}

@model MusicDatabase.Models.Song

<h2 id="title">Add a new Song</h2>

<hr />

@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.Name)
	<br>
	@Html.TextBoxFor(model => model.Name)
	<br><br>
	@Html.Label("Artist")
	<br>
	@Html.DropDownList("ArtistId")
	<br><br>
	@Html.Label("Genre")
	<br>
	@Html.DropDownList("GenreId")
	<br><br>
	<input type="submit" value="Add song" />
}

<hr />

<p>
	@Html.ActionLink("View all songs", "Index")
 |
	@Html.ActionLink("Go to homepage", "Index", "Home")
</p>